* {
    box-sizing: border-box;
}

@media screen and (width < 480px) {
    html {
        font-size: 16px;
    }
}

@media screen and (480px <= width < 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (768px <= width < 992px) {
    html {
        font-size: 17px;
    }
}

@media screen and (992px <= width < 1200px) {
    html {
        font-size: 18px;
    }
}

@media screen and (width >= 1200px) {
    html {
        font-size: 18px;
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

body {
    min-width: 360px;
    min-height: 100vh;
    margin: 0;
    padding-top: 1rem;
    background-image: radial-gradient(circle at center, rgba(10, 10, 60, 0.7), rgb(0, 0, 20, 0.5)), url(../assets/3body_page.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    color: lightgray;
    font-family: "Jost";
}

#headerBox {
    display: grid;
    place-items: center;
    margin: 0 0.5rem 2rem;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 5rem 1fr 5rem;
}

#homeButton {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    padding: 0.2rem 0.2rem 0.2rem 0;
    background-color: rgb(30, 50, 120);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#homeButtonIcon {
    width: 1rem;
    height: 1rem;
    margin: 0.2rem;
}

#pageTitle {
    grid-area: 1 / 2 / 3 / 3;
    margin: 0;
    text-align: center;
    color: darkgrey;
    font-size: 4rem;
    font-family: 'Exo 2';
    font-weight: normal;
}

@media screen and (width < 480px) {
    #pageTitle {
        font-size: 3rem;
    }

    #homeButton {
        width: 80%;
        height: 80%;
        font-size: 0.8rem;
    }
}

a:link, a:visited {
    color: turquoise;
    text-decoration: none;
}

a:hover, a:active {
    color: darkcyan;
    text-decoration: underline;
}

/* adjust page title for tiny screens */
@media screen and (width < 645px) {
    #pageTitle {
        font-size: 2.8rem;
    }
}

@media screen and (width < 504px) {
    #pageTitle {
        font-size: 2.5rem;
    }
}