* {
    box-sizing: border-box;
}

@media screen and (width < 480px) {
    html {
        font-size: 16px;
    }
}

@media screen and (480px <= width < 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (768px <= width < 992px) {
    html {
        font-size: 17px;
    }
}

@media screen and (992px <= width < 1200px) {
    html {
        font-size: 18px;
    }
}

@media screen and (width >= 1200px) {
    html {
        font-size: 18px;
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

body {
    min-width: 360px;
    min-height: 100vh;
    margin: 0;
    padding-top: 1rem;
    background-image: radial-gradient(circle at top left, lightblue, rgb(235, 150, 150));
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    color: rgb(30, 30, 30);
    font-family: "Jost";
}

#headerBox {
    display: grid;
    place-items: center;
    margin: 0 0.5rem 2rem;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 5rem 1fr 5rem;
}

#homeButton {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    padding: 0.2rem 0.2rem 0.2rem 0;
    background-color: rgb(30, 50, 120);
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    cursor: pointer;
}

#homeButtonIcon {
    width: 1rem;
    height: 1rem;
    margin: 0.2rem;
}

#pageTitle {
    grid-area: 1 / 2 / 3 / 3;
    margin: 0;
    text-align: center;
    color: black;
    font-size: 4rem;
    font-family: 'Exo 2';
    font-weight: normal;
}

@media screen and (width < 480px) {
    #pageTitle {
        font-size: 3rem;
    }

    #homeButton {
        width: 80%;
        height: 80%;
        font-size: 0.8rem;
    }
}

a:link, a:visited {
    color: green;
    text-decoration: none;
}

a:hover, a:active {
    color: darkgreen;
    text-decoration: underline;
}

/* adjust page title for tiny screens */
@media screen and (width < 645px) {
    #pageTitle {
        font-size: 2.8rem;
    }
}

@media screen and (width < 504px) {
    #pageTitle {
        font-size: 2.5rem;
    }
}

#contentBox {
    padding: 0 1rem 1rem;
}

#intro {
    text-align: justify;
}

.extra {
    display: none;
}

#intro p {
    margin: 0.5rem 0 0.5rem;
}

#readMore, #readMore2 {
    font-size: 0.9rem;
    color: blue;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

#readMore:hover, #readMore2:hover {
    color: darkred;
}

#sim {
    width: 100%;
    aspect-ratio: 2.2;
    margin-left: auto;
    outline: 3px solid black;
    touch-action: none;
}

#dragInfo {
    position: absolute;
    margin: 0;
    font-size: 0.8rem;
    z-index: -1;
}

#simInfo {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "bu sc"
    "ia ib";
    gap: 1rem;
}

@media screen and (width < 559px) {
    #simInfo {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr auto;
        grid-template-areas: 
        "bu sc"
        "ia ia"
        "ib ib";
    }
}

#simInfo * {
    margin: 0;
}

#buttons {
    grid-area: bu;
}

#scaleText {
    margin: 0;
    justify-self: right;
    font-size: 0.9rem;
    grid-area: sc;
}

#infoA {
    grid-area: ia;
}

#infoB {
    grid-area: ib;
}

button {
    font-size: 1.2rem;
    font-family: "Exo 2";
}

#run {
    background-color: lightgreen;
}

#stop {
    background-color: pink;
}

#Axy, #Avxy {
    color: red;
}

#Bxy, #Bvxy {
    color: green;
}

#Cxy, #Cvxy {
    color: blue;
}

.simExpl {
    display: none;
}

h2.simExpl {
    margin: 1rem 0 0;
}

p.simExpl {
    margin: 0.5rem 0 0;
}

.eqn {
    font-family: Cambria, serif;
}