* {
    box-sizing: border-box;
}

@media screen and (width < 480px) {
    html {
        font-size: 16px;
    }
}

@media screen and (480px <= width < 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (768px <= width < 992px) {
    html {
        font-size: 17px;
    }
}

@media screen and (992px <= width < 1200px) {
    html {
        font-size: 18px;
    }
}

@media screen and (width >= 1200px) {
    html {
        font-size: 18px;
    }
}

.hidden {
    display: none;
}

body {
    min-width: 360px;
    min-height: 100vh;
    margin: 0;
    background-image: radial-gradient(at top left, rgb(255, 120, 120), rgb(200, 135, 60));
    background-position: top left;
    display: flex;
    flex-direction: column;
    color: rgb(30, 30, 30);
    font-family: "Jost";
}

#pageTitle {
    margin: 0;
    padding: 5rem 0;
    text-align: center;
    color: black;
    font-size: 4rem;
    font-family: "Exo 2";
    font-weight: normal;
}

#flexWrapper {
    width: 90%;
    flex-grow: 1;
    margin: 0 auto 6rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, min(30%, 350px)) 1rem 1fr;
    grid-template-areas: 
    "lb sp rb";
}

@media screen and (width < 650px) {
    #flexWrapper {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "lb"
        "sp"
        "rb";
    }
}

h2 {
    margin: 0;
}

p {
    margin: 1rem 0 0;
}

#leftBar {
    width: 100%;
    height: 100%;
    grid-area: lb;
    border-radius: 2rem;
    padding: 1rem;
    background-color: rgb(255, 190, 125);
    text-align: justify;
}

span {
    color: darkred;
    text-decoration: underline;
    cursor: pointer;
}

.sample {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 25rem;
    height: auto;
    border: 2px solid darkgray;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem 0;
    background-color: lightgrey;
}

.sampleImg {
    width: 100%;

}

.sampleDesc {
    margin: 0 0.5rem 0.2rem;
    text-align: center;
    font-style: italic;
}

#spacer {
    width: 100%;
    height: 100%;
    grid-area: sp;
}

#rightBar {
    width: 100%;
    height: 100%;
    grid-area: rb;
    padding: 1rem;
}

#pages {
    margin: 1rem 0 0;
    display: grid;
    grid-template-rows: 200px;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fit, minmax(0, 250px));
    gap: 1rem;
    justify-content: center;
}

#pages > div {
    border-radius: 1.2rem;
    padding: 0.5rem 1rem 1rem;
}

h3 {
    margin: 0;
    text-align: center;
    color: white;
}

.tab {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    cursor: pointer;
    transition: height 200ms linear, top 200ms linear;
}

.tab:hover {
    height: 150%;
}

.tabDown {
    top: 100px;
}

.tabDesc {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: inherit;
    text-align: justify;
    color: white;
}

#space {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(assets/space_page.jpg);
    background-size: cover;
    background-position: center;
}

#threeBody {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(assets/3body_page.jpg);
    background-size: cover;
    background-position: center;
}

#building {
    background-color: grey;
}

#test1, #test2, #test3, #test4, #test5, #test6 {
    background-color: grey;
    background-size: cover;
    background-position: center;
}